{
  "ln_nodes": [
    {
      "cert": "/Users/reza/.polar/networks/5/volumes/lnd/alice/tls.cert",
      "macaroon": "/Users/reza/.polar/networks/5/volumes/lnd/alice/data/chain/bitcoin/regtest/admin.macaroon",
      "socket": "127.0.0.1:10001",
      "node_type": "LND",
      "node_name": "lnd"
    }
  ],
  "db_url":"mongodb://0.0.0.0:27017",
  "htlc_forward_event":[
    "svc:ln:router"
  ],
  "channel_acceptor":"svc:ln:router",
  "htlc_acceptor":"svc:regtest_bot",
  "peer_events": [
    "svc:ln:router"
  ],
}
